.topodelete{
    margin-top: 200px !important;
}

.carddeletepost {    
    margin-top: 100px !important;
    border: 10px solid var(--primary-color) !important;
    width: 400px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px !important;

    display: flex;
    flex-direction: column;
    
}
    

.btn__DeleteYes{
    font-size: 16px !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    border-color: var(--primary-color) !important;
    background-color: white !important;

    border: 1px solid var(--primary-color) !important;
    border-radius: 20px !important;

    padding-inline: 50px !important;
}

.btn__DeleteYes:hover{
    background-color: var(--hover) !important;
    color: #fafafa !important;
    border: 1px solid var(--hover) !important;
}

.btn__DeleteNo{
    border-color: var(--primary-color) !important;
    color: white !important;
    font-size: 16px !important;
    background-color: var(--primary-color) !important;
    font-weight: bold !important;

    border: 1px solid var(--primary-color) !important;
    border-radius: 20px !important;

    padding-inline: 50px !important;
}

.btn__DeleteNo:hover{
    color: var(--text-color-dark) !important;
    background-color: #fafafa !important;
    border: 1px solid var(--hover) !important;
    border-color: black !important;
}