#my_profile {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#my_profile #data_user {
    width: 100%;
    background-color: var(--primary-color);
    flex: 0 300px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

#my_profile #posts_user {
    width: 100%;
    background-color: #E9DAF4;
    flex: 0 1000px;
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    
    #my_profile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.bgvagas{
    background-color: #F5E8FF;
}

.bgperfil{
    background-color: #E9DAF4;
}

.bgConexoes{
    background-color: #F4EFFF;
}

.btn__Delete{
    border-color: var(--primary-color) !important;
    color: white !important;
    font-size: 16px !important;
    background-color: var(--primary-color) !important;
    font-weight: bold !important;

    border: 1px solid var(--primary-color) !important;
    border-radius: 20px !important;

    padding-inline: 50px !important;
}

.btn__Delete:hover{
    color: var(--text-color-dark) !important;
    background-color: #fafafa !important;
    border: 1px solid var(--hover) !important;
    border-color: black !important;
}
