.first {
    margin-top: 100px;
}

.text-decorator-none{
    text-decoration: none;
}

/* COLOCAR NOSSAS CORES */

.card{
    border-color: var(--primary-color) !important;
    margin-top: 100px;
}

.atualizar{
    margin: left;
    background-color: var(--secondary-color) !important;
    color: #fffee4;
}

.deletar{
    margin: left;
    background-color: #fffee4;
    color: #d6254d;
}

.posts{
    color: #ff9036;
}


/* .btn__post:hover{
    background-color: var(--hover) !important;
    color: #fafafa !important;
    border: 1px solid var(--hover) !important;
} */