.footer {
    background-color: var(--primary-color-dark);
    color: var(--text-color);
    height: 600px;


    padding-inline: 10%;
    padding-top: 50px
    /* justify-content: space-around;
    align-items: flex-start; */
}

.footer__small {
    border-top: 1px solid;

    margin-top: 5rem;
}

.footer__header{
    color: #c7b7d3 !important;
    text-transform: uppercase;
}

.text__footer {
    font-size: 18px;
}

.social{
    font-size: 30px !important;
    margin-top: 25px;
    margin-right: 20px;
}

.footer__item {
    padding-top: 30px !important;
    width: 10%;
}

.footer__item.contact__section{
    width: 18rem;
}

.footer__item li {
    font-size: 18px;
    margin-bottom: 15px;

    cursor: pointer;
}

.footer__item li:hover{
    color: #fafafaaf;
    transition: .3s ease;
}

.footer a {
    color: var(--text-color);
}

.contact {
    margin-bottom: 15px !important;
    padding: 5px;

    width: 100%;

    background-color: white;
    border-radius: 5px;

}

.btn__footer{
    width: 100%;
    padding: 16px 14px !important;

    background-color: var(--primary-color) !important;
}

.btn__footer:hover{
    background-color: var(--secondary-color-lg) !important;
}

.logo {    
    width: 300px;
}
