*{
    box-sizing: border-box;
}

:root{
    --hue: 275; 
    --primary-color: hsl(var(--hue), 100%, 45%);
    --secondary-color: hsl(var(--hue), 90%, 30%);
    --text-color: hsl(var(--hue), 60%, 95%);
    --text-color-dark: hsl(var(--hue), 60%, 5%);
}

li {
    list-style: none;
}

.no__text__decorator {
    text-decoration: none !important;
}

.btn__primary{
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}
