@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Cardo (W) */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&display=swap');
/* Inter (I) */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&family=Inter:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
}

:root{
    --hue: 275; 
    --primary-color: hsl(var(--hue), 100%, 45%);
    --primary-color-dark: hsl(var(--hue), 100%, 13%);
    --secondary-color: hsl(var(--hue), 90%, 30%);
    --secondary-color-lg: hsl(var(--hue) , 70%, 60%);
    --text-color: hsl(var(--hue), 60%, 95%);
    --text-color-dark: hsl(var(--hue), 60%, 5%);
    --hover: #B19FF9;
}

.section{
    position: relative;
    display: flex;
    flex-direction: row;

    min-height: 400px;
    padding: 70px 15vw;
}


li {
    list-style: none;
}

.no__text__decorator {
    text-decoration: none !important;
}

.btn__primary{
    background-color: #fafafa !important;
    font-size: 16px !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;

    border: 1px solid var(--primary-color) !important;
    border-radius: 20px !important;

    padding-inline: 50px !important;

    box-shadow: none !important;
}

.btn__primary:hover{
    background-color: var(--hover) !important;
    color: #fafafa !important;
    border: 1px solid var(--hover) !important;
}

.btn__secondary{
    color: black !important;
    font-size: 40px !important;
    /* margin-right: 50px; */
}