.first {
    margin-top: 100px;
}

.tituloaboutus{
    color: var(--primary-color) !important;
    font-size: 36px !important;
    text-align: center;
    margin-bottom: 30px !important;
    font-weight: bold !important;
}

.btn__juntese{
    font-size: 16px !important;
    color: var(--primary-color) !important;
    font-weight: bold !important;
    border-color: var(--primary-color) !important;
    background-color: white !important;

    border: 1px solid var(--primary-color) !important;
    border-radius: 20px !important;

    padding-inline: 50px !important;
}

.btn__juntese:hover{
    background-color: var(--hover) !important;
    color: #fafafa !important;
    border: 1px solid var(--hover) !important;
}

.fontes{
    text-decoration: none;
    color: var(--secondary-color) !important;
}


.fontes:hover{
    color: var(--secondary-color-lg) !important;
    text-decoration: underline;
}

.text__content{
    margin: 10px;
    color: #FAFAFA !important;
    font-size: 20px !important;
    text-align: left !important;
}

.text__content_dark{
    color: var(--text-color-dark);
    font-size: 20px !important;
    text-align: left !important;
}

.bgVagas{
    background-color: rgb(193, 182, 241);
}

.bgCursos{
    background-color: #E9DAF4;
}

.bgConexoes{
    background-color: #F4EFFF;
}
